.task-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.empty-list {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
