.task {
  height: 64px;
  border: 1px #626264 solid;
  border-radius: 10px;
  padding: 0 1rem;
}

.task-inner {
  display: flex;
  height: 64px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.textarea-wrapper {
  position: relative;

  & textarea {
    width: 100%;
    border-radius: 10px;
    border: 1px #638bb3 solid;
    resize: none;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.5rem;
  }

  & span {
    position: absolute;
    right: 7px;
    bottom: 7px;
    font-size: 0.85rem;
  }
}

.buttons-wrapper {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.edit-btn {
  flex: 1;
  background-color: #222428;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem;
}

.close-btn {
  flex: 1;
  background-color: #eb445a;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem;
}

.input {
  border-radius: 10px;
  background-color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
}
